@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/BarlowSemiCondensed-Regular.ttf);
}
@font-face {
    font-family: vazir;
    src: url(../fonts/DAVazirRegular.ttf);
}
@font-face {
    font-family: iransans;
    src: url(../fonts/IRANSansWebFaNum.ttf);
}

* {
    font-family: 'vazir','iransans','Barlow Semi Condensed', sans-serif;
}

.logo {
    font-size: 24px;
}
.p-btn-sm{
padding:3px 6px 3px 6px!important;
}
@media (max-width: 1199.98px) {
    span,td,th,input,lable{
        font-size: 14px;
    } 
 }
.page-link{
    color:#23272b;
}